﻿@inject WebLoggerProvider WebLoggerProvider
@using P1Dashboard.Logging
@{
    ViewData["Title"] = "Logging";
}

<div class="container-fluid">
    <div class="row">
        <div class="col my-3">
            <div class="table-responsive">
                <table class="table table-sm table-dark table-hover">
                    <thead>
                    <tr class="text-nowrap">
                        <th>Category Name</th>
                        <th>Log Level</th>
                        <th>Event ID</th>
                        <th>Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var logEntry in WebLoggerProvider.LogEntries)
                    {
                        <tr>
                            <td>@logEntry.CategoryName</td>
                            <td class="@logEntry.BackgroundClass">@logEntry.LogLevel</td>
                            <td>@logEntry.EventId</td>
                            <td class="log-message">@logEntry.Message</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
