﻿@inject Settings Settings
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dashboard - @ViewBag.Title</title>

    <link rel="icon" type="image/png" href="~/Favicon.png" asp-append-version="true">

    <environment include="Development">
        <script src="~/Out/Scripts/Scripts.js" asp-append-version="true"></script>
        <link rel="stylesheet" href="~/Out/Styles/Styles.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <script src="~/Out/Scripts/Scripts.min.js" asp-append-version="true"></script>
        <link rel="stylesheet" href="~/Out/Styles/Styles.min.css" asp-append-version="true">
    </environment>
</head>

<body>
@if (User.Identity.IsAuthenticated)
{
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">P1 Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Statistics</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="Statistics" asp-action="Index">Home</a>
                        <a class="dropdown-item" asp-controller="Statistics" asp-action="Charts">Charts</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Logging" asp-action="Index">Logging</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
}

@RenderBody()
</body>
</html>
