﻿<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header">
                Current Tariff
            </div>
            <div class="card-body">
                <h5 class="card-title">Tariff {{ info.electricityTariff }}</h5>
                <div class="form-group">
                    <label>Current usage (kW)</label>
                    <input type="text" class="form-control" readonly v-bind:value="currentUsage">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header">
                Power Delivered
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ info.powerDelivered.live }} kW</h5>
                <div class="form-group">
                    <label>L1 (kW)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.powerDelivered.l1">
                </div>
                <div class="form-group">
                    <label>L2 (kW)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.powerDelivered.l2">
                </div>
                <div class="form-group">
                    <label>L3 (kW)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.powerDelivered.l3">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header">
                Power Returned
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ info.powerReturned.live }} kW</h5>
                <div class="form-group">
                    <label>L1 (kW)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.powerReturned.l1">
                </div>
                <div class="form-group">
                    <label>L2 (kW)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.powerReturned.l2">
                </div>
                <div class="form-group">
                    <label>L3 (kW)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.powerReturned.l3">
                </div>
            </div>
        </div>
    </div>
</div>
