﻿<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header">
                Voltage
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>L1 (V)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.voltage.l1">
                </div>
                <div class="form-group">
                    <label>L2 (V)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.voltage.l2">
                </div>
                <div class="form-group">
                    <label>L3 (V)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.voltage.l3">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header">
                Current
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>L1 (A)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.current.l1">
                </div>
                <div class="form-group">
                    <label>L2 (A)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.current.l2">
                </div>
                <div class="form-group">
                    <label>L3 (A)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.current.l3">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header">
                Gas
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Device Type</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.gasDeviceType">
                </div>
                <div class="form-group">
                    <label>Equipment ID</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.gasEquipmentId">
                </div>
                <div class="form-group">
                    <label>Timestamp</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.gasTimestamp">
                </div>
                <div class="form-group">
                    <label>Delivered (m<sup>3</sup>)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.gasDelivered">
                </div>
            </div>
        </div>
    </div>
</div>
