﻿<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header">
                General
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Version</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.version">
                </div>
                <div class="form-group">
                    <label>Timestamp</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.timestamp">
                </div>
                <div class="form-group">
                    <label>Equipment ID</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.equipmentId">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header">
                Energy Delivered
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Tariff 1 (kWh)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.energyDelivered.tariff1">
                </div>
                <div class="form-group">
                    <label>Tariff 2 (kWh)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.energyDelivered.tariff2">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header">
                Energy Returned
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Tariff 1 (kWh)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.energyReturned.tariff1">
                </div>
                <div class="form-group">
                    <label>Tariff 2 (kWh)</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.energyReturned.tariff2">
                </div>
            </div>
        </div>
    </div>
</div>
