﻿<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header">
                Electricity Failures
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Electricity Failures</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.electricityFailures">
                </div>
                <div class="form-group">
                    <label>Electricity Long Failures</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.electricityLongFailures">
                </div>
                <div class="form-group">
                    <label>Electricity Failure Log</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.electricityFailureLog">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header">
                Voltage Sags
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>L1</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.voltageSags.l1">
                </div>
                <div class="form-group">
                    <label>L2</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.voltageSags.l2">
                </div>
                <div class="form-group">
                    <label>L3</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.voltageSags.l3">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header">
                Voltage Swells
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>L1</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.voltageSwells.l1">
                </div>
                <div class="form-group">
                    <label>L2</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.voltageSwells.l2">
                </div>
                <div class="form-group">
                    <label>L3</label>
                    <input type="text" class="form-control" readonly v-bind:value="info.voltageSwells.l3">
                </div>
            </div>
        </div>
    </div>
</div>
