﻿@{
    ViewData["Title"] = "Home";
}

<div id="p1-ui">
    <div class="container">
        <div class="row">
            <div class="col my-3">
                <div class="alert alert-success my-0" v-if="connected">Currently connected! <i class="fa fa-check"></i></div>
                <div class="alert alert-danger my-0" v-else>Currently disconnected! <i class="fa fa-times"></i></div>
            </div>
        </div>

        <template v-if="hasInfo && connected">
            <div class="row" v-if="hasMessageLong">
                <div class="col mb-3">
                    <div class="alert alert-warning my-0">{{ info.messageLong }} <i class="fa fa-warning"></i></div>
                </div>
            </div>
            <partial name="_Row1" />
            <partial name="_Row2" />
            <partial name="_Row3" />
            <partial name="_Row4" />
        </template>
        <template v-else>
            <div class="row">
                <div class="col">
                    <div class="alert alert-info my-0" v-if="connected">Retrieving information, please wait! <i class="fa fa-refresh"></i></div>
                    <div class="alert alert-info d-flex justify-content-between align-items-center my-0" v-else>
                        <div>Please refresh the page to try again.</div>
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Reconnect <i class="fa fa-refresh"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center mt-3">
                    <div class="spinner-grow text-info" role="status"></div>
                </div>
            </div>
        </template>
    </div>
</div>

<script>
    Main();
</script>
