﻿@using P1Dashboard.Models
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="card my-3">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form asp-controller="Home" asp-action="Login" method="post">
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password"></span>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="RememberMe" class="custom-control-input" />
                        <label asp-for="RememberMe" class="custom-control-label"></label>
                    </div>
                </div>

                <input asp-for="ReturnUrl" />

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
