﻿@using P1Dashboard.Models
@model ChartInfoModel

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span>@Model.Name</span>
        <a href="#" class="badge badge-info" v-if="hasChart('@Model.IdPrefix')" v-on:click.prevent="toggleLegend('@Model.IdPrefix')">Toggle legend</a>
    </div>
    <div class="card-body">
        <div v-show="!hasChart('@Model.IdPrefix')">
            This chart is unavailable. At least 3 measurements are needed to render the chart.
        </div>
        <canvas id="@Model.IdPrefix-chart-energy" v-show="hasChart('@Model.IdPrefix')"></canvas>
        <canvas id="@Model.IdPrefix-chart-gas" v-show="hasChart('@Model.IdPrefix')"></canvas>
    </div>
</div>
