﻿@inject CurrentInfoHandler CurrentInfoHandler
@using P1Dashboard.Data
@using P1Dashboard.P1.Handlers
@model MeasurementModel
@{
    var currentInfo = CurrentInfoHandler.Info;
}

<div class="card">
    <div class="card-header">
        @Model.Period (since @Model.Date.ToString("yyyy-MM-dd"))
    </div>
    <div class="card-body">
        <div class="form-group">
            <label>Energy Delivered (kWh, tariff 1)</label>
            <input type="text" class="form-control" readonly
                   value="@(currentInfo.EnergyDelivered.Tariff1 - Model.EnergyDeliveredTariff1)">
        </div>
        <div class="form-group">
            <label>Energy Delivered (kWh, tariff 2)</label>
            <input type="text" class="form-control" readonly
                   value="@(currentInfo.EnergyDelivered.Tariff2 - Model.EnergyDeliveredTariff2)">
        </div>
        <div class="form-group">
            <label>Energy Returned (kWh, tariff 1)</label>
            <input type="text" class="form-control" readonly
                   value="@(currentInfo.EnergyReturned.Tariff1 - Model.EnergyReturnedTariff1)">
        </div>
        <div class="form-group">
            <label>Energy Returned (kWh, tariff 2)</label>
            <input type="text" class="form-control" readonly
                   value="@(currentInfo.EnergyReturned.Tariff2 - Model.EnergyReturnedTariff2)">
        </div>
        <div class="form-group">
            <label>Gas Delivered (m<sup>3</sup>)</label>
            <input type="text" class="form-control" readonly
                   value="@(currentInfo.GasDelivered - Model.GasDelivered)">
        </div>
    </div>
</div>
