﻿@using Newtonsoft.Json
@using P1Dashboard.Converters
@using P1Dashboard.Models
@model ChartsModel
@{
    ViewData["Title"] = "Charts";
    var dayChartInfo = new ChartInfoModel("Day", "day");
    var weekChartInfo = new ChartInfoModel("Week", "week");
    var monthChartInfo = new ChartInfoModel("Month", "month");
    var yearChartInfo = new ChartInfoModel("Year", "year");
    var json = JsonConvert.SerializeObject(Model, new MeasurementModelConverter());
}

<div id="charts-ui">
    <div class="container">
        <div class="row">
            <div class="col my-3">
                <div class="alert alert-info my-0">Retrieved at @Model.TimeStamp.ToString("dd-MM-yyyy HH:mm:ss"). <i class="fa fa-clock-o"></i></div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <partial name="_Chart" model="@dayChartInfo"/>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <partial name="_Chart" model="@weekChartInfo"/>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <partial name="_Chart" model="@monthChartInfo"/>
            </div>
        </div>

        <div class="row">
            <div class="col mb-3">
                <partial name="_Chart" model="@yearChartInfo"/>
            </div>
        </div>
    </div>
</div>

<script>
    Charts(@Html.Raw(json));
</script>
