﻿@using P1Dashboard.Data
@using P1Dashboard.P1.Handlers
@inject StatisticsInfoHandler StatisticsInfoHandler
@{
    ViewData["Title"] = "Statistics";
    var latestMeasurements = StatisticsInfoHandler.LatestMeasurements;
}

<div class="container">
    <div class="row">
        <div class="col my-3">
            <div class="alert alert-info my-0">Refresh manually to update data.</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            @if (latestMeasurements.Day == null)
            {
                <partial name="_UnavailableMeasurement" model="@MeasurementPeriod.Day" />
            }
            else
            {
                <partial name="_Measurement" model="@latestMeasurements.Day" />
            }
        </div>
        <div class="col-md-6 mb-3">
            @if (latestMeasurements.Week == null)
            {
                <partial name="_UnavailableMeasurement" model="@MeasurementPeriod.Week" />
            }
            else
            {
                <partial name="_Measurement" model="@latestMeasurements.Week" />
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            @if (latestMeasurements.Month == null)
            {
                <partial name="_UnavailableMeasurement" model="@MeasurementPeriod.Month" />
            }
            else
            {
                <partial name="_Measurement" model="@latestMeasurements.Month" />
            }

        </div>
        <div class="col-md-6 mb-3">
            @if (latestMeasurements.Year == null)
            {
                <partial name="_UnavailableMeasurement" model="@MeasurementPeriod.Year" />
            }
            else
            {
                <partial name="_Measurement" model="@latestMeasurements.Year" />
            }

        </div>
    </div>
</div>
